## Processing emg data (Lili's dataset)

In [1]:
import pandas as pd
import numpy as np
import math
import datetime as dt

import warnings
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [2]:
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(8)+"/emg_processed.csv"
data = pd.read_csv(path)
data.head()

,new_id,id,p_id,e_id,itr_id,itr_type,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,1,63390,8,4,52,0,1,-1,120,119,119,120,119,120,120,120,2021-08-10 03:08:43.161
1,2,63390,8,4,52,0,1,-1,119,120,119,120,119,120,121,118,2021-08-10 03:08:43.161
2,3,63390,8,4,52,0,1,-1,120,119,119,120,119,119,119,119,2021-08-10 03:08:43.161
3,4,63390,8,4,52,0,1,-1,118,119,119,119,119,119,118,118,2021-08-10 03:08:43.161
4,5,63390,8,4,52,0,1,-1,119,120,120,122,120,118,119,120,2021-08-10 03:08:43.161

### Step 1 - Only keep the interactions for the 5 properties

In [3]:
property_ids = [3,4,5,6,7,8]

for participant in range(1,9):
    print("Participant: ", participant)

    path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/emg_processed.csv"
    data = pd.read_csv(path)
    
    properties = data[data['itr_type'].isin(property_ids)]

    write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/emg_processed_prop.csv"
    properties.to_csv(write_path, index = None)

Participant:  1
Participant:  2
Participant:  3
Participant:  4
Participant:  5
Participant:  6
Participant:  7
Participant:  8

In [4]:
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(3)+"/emg_processed_prop.csv"
data = pd.read_csv(path)
data.head()

,new_id,id,p_id,e_id,itr_id,itr_type,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,59041,5472,3,2,6,3,1,1,119,121,121,119,119,119,118,119,2021-08-08 21:33:52.160
1,59042,5472,3,2,6,3,1,1,121,119,118,119,119,120,120,119,2021-08-08 21:33:52.160
2,59043,5472,3,2,6,3,1,1,120,118,119,120,119,120,119,119,2021-08-08 21:33:52.160
3,59044,5472,3,2,6,3,1,1,120,119,119,120,118,119,120,119,2021-08-08 21:33:52.160
4,59045,5472,3,2,6,3,1,1,120,119,119,119,119,119,119,119,2021-08-08 21:33:52.160

### Step 2 - Rectification

In [5]:
for participant in range(1,9):
    print("Participant: ", participant)

    path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/emg_processed_prop.csv"
    data = pd.read_csv(path)
 
   # Convert required columns to numeric
    data['ch_01'] = pd.to_numeric(data["ch_01"], downcast='float')
    data['ch_02'] = pd.to_numeric(data["ch_02"], downcast='float')
    data['ch_03'] = pd.to_numeric(data["ch_03"], downcast='float')
    data['ch_04'] = pd.to_numeric(data["ch_04"], downcast='float')
    data['ch_05'] = pd.to_numeric(data["ch_05"], downcast='float')
    data['ch_06'] = pd.to_numeric(data["ch_06"], downcast='float')
    data['ch_07'] = pd.to_numeric(data["ch_07"], downcast='float')
    data['ch_08'] = pd.to_numeric(data["ch_08"], downcast='float')

    # Obtain the absolute values
    data['ch_01'] = abs(data["ch_01"])
    data['ch_02'] = abs(data["ch_02"])
    data['ch_03'] = abs(data["ch_03"])
    data['ch_04'] = abs(data["ch_04"])
    data['ch_05'] = abs(data["ch_05"])
    data['ch_06'] = abs(data["ch_06"])
    data['ch_07'] = abs(data["ch_07"])
    data['ch_08'] = abs(data["ch_08"])


    write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/emg_prop_rectified.csv"
    data.to_csv(write_path, index = None)

Participant:  1
Participant:  2
Participant:  3
Participant:  4
Participant:  5
Participant:  6
Participant:  7
Participant:  8

In [6]:
path1 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(7)+"/emg_prop_rectified.csv"
data1 = pd.read_csv(path1)
data1.head()

,new_id,id,p_id,e_id,itr_id,itr_type,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,59489,120907,7,6,105,3,0,14,121.0,120.0,115.0,116.0,118.0,119.0,121.0,119.0,2021-08-05 13:21:26.565
1,59490,120907,7,6,105,3,0,14,120.0,118.0,114.0,114.0,116.0,116.0,118.0,119.0,2021-08-05 13:21:26.565
2,59491,120907,7,6,105,3,0,14,121.0,118.0,114.0,117.0,118.0,116.0,120.0,119.0,2021-08-05 13:21:26.565
3,59492,120907,7,6,105,3,0,14,120.0,119.0,122.0,121.0,119.0,119.0,121.0,119.0,2021-08-05 13:21:26.565
4,59493,120907,7,6,105,3,0,14,120.0,120.0,123.0,122.0,120.0,123.0,121.0,119.0,2021-08-05 13:21:26.565

### Step 3 - Normalisation

In [7]:
for participant in range(1,9):
    print("Participant: ", participant)

    path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/emg_prop_rectified.csv"
    data = pd.read_csv(path)

    data['ch_01'] = pd.to_numeric(data["ch_01"], downcast='float')
    data['ch_02'] = pd.to_numeric(data["ch_02"], downcast='float')
    data['ch_03'] = pd.to_numeric(data["ch_03"], downcast='float')
    data['ch_04'] = pd.to_numeric(data["ch_04"], downcast='float')
    data['ch_05'] = pd.to_numeric(data["ch_05"], downcast='float')
    data['ch_06'] = pd.to_numeric(data["ch_06"], downcast='float')
    data['ch_07'] = pd.to_numeric(data["ch_07"], downcast='float')
    data['ch_08'] = pd.to_numeric(data["ch_08"], downcast='float')

    hand0 = data[data['hand']==0]        
    hand1 = data[data['hand']==1]

    max0_ch1 = np.max(hand0['ch_01'])
    max1_ch1 = np.max(hand1['ch_01'])
    max0_ch2 = np.max(hand0['ch_02'])
    max1_ch2 = np.max(hand1['ch_02'])
    max0_ch3 =np.max(hand0['ch_03'])
    max1_ch3 =np.max(hand1['ch_03'])
    max0_ch4 =np.max(hand0['ch_04'])
    max1_ch4 =np.max(hand1['ch_04'])
    max0_ch5 =np.max(hand0['ch_05'])
    max1_ch5 =np.max(hand1['ch_05'])
    max0_ch6 =np.max(hand0['ch_06'])
    max1_ch6 =np.max(hand1['ch_06'])
    max0_ch7 =np.max(hand0['ch_07'])
    max1_ch7 =np.max(hand1['ch_07'])
    max0_ch8 =np.max(hand0['ch_08'])
    max1_ch8 =np.max(hand1['ch_08'])

    num_dec = 6

    hand0['ch_01'] = round(hand0['ch_01']/max0_ch1,num_dec)
    hand0['ch_02'] = round(hand0['ch_02']/max0_ch2,num_dec)
    hand0['ch_03'] = round(hand0['ch_03']/max0_ch3,num_dec)
    hand0['ch_04'] = round(hand0['ch_04']/max0_ch4,num_dec)
    hand0['ch_05'] = round(hand0['ch_05']/max0_ch5,num_dec)
    hand0['ch_06'] = round(hand0['ch_06']/max0_ch6,num_dec)
    hand0['ch_07'] = round(hand0['ch_07']/max0_ch7,num_dec)
    hand0['ch_08'] = round(hand0['ch_08']/max0_ch8,num_dec)

    hand1['ch_01'] = round(hand1['ch_01']/max1_ch1,num_dec)
    hand1['ch_02'] = round(hand1['ch_02']/max1_ch2,num_dec)
    hand1['ch_03'] = round(hand1['ch_03']/max1_ch3,num_dec)
    hand1['ch_04'] = round(hand1['ch_04']/max1_ch4,num_dec)
    hand1['ch_05'] = round(hand1['ch_05']/max1_ch5,num_dec)
    hand1['ch_06'] = round(hand1['ch_06']/max1_ch6,num_dec)
    hand1['ch_07'] = round(hand1['ch_07']/max1_ch7,num_dec)
    hand1['ch_08'] = round(hand1['ch_08']/max1_ch8,num_dec)

    data_1 = pd.concat([hand0, hand1], axis=0)

    write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/emg_prop_rect_norm.csv"
    data_1.to_csv(write_path, index = None)

Participant:  1
Participant:  2
Participant:  3
Participant:  4
Participant:  5
Participant:  6
Participant:  7
Participant:  8

In [8]:
path2 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(8)+"/emg_prop_rect_norm.csv"
data2 = pd.read_csv(path2)
data2.head()

,new_id,id,p_id,e_id,itr_id,itr_type,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,59569,67113,8,4,55,3,0,8,0.500000,0.495902,0.493827,0.500000,0.504098,0.497942,0.489712,0.491803,2021-08-10 03:11:23.475
1,59570,67113,8,4,55,3,0,8,0.524590,0.500000,0.485597,0.487705,0.495902,0.497942,0.493827,0.500000,2021-08-10 03:11:23.475
2,59571,67113,8,4,55,3,0,8,0.520492,0.500000,0.493827,0.500000,0.495902,0.493827,0.493827,0.500000,2021-08-10 03:11:23.475
3,59572,67113,8,4,55,3,0,8,0.516393,0.495902,0.493827,0.487705,0.479508,0.485597,0.489712,0.504098,2021-08-10 03:11:23.475
4,59573,67113,8,4,55,3,0,8,0.500000,0.495902,0.489712,0.475410,0.487705,0.493827,0.489712,0.495902,2021-08-10 03:11:23.475

### Step 4 - Combine the datasets

In [9]:
path1 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(1)+"/emg_prop_rect_norm.csv"
data1 = pd.read_csv(path1)

path2 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(2)+"/emg_prop_rect_norm.csv"
data2 = pd.read_csv(path2)

path3 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(3)+"/emg_prop_rect_norm.csv"
data3 = pd.read_csv(path3)

path4 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(4)+"/emg_prop_rect_norm.csv"
data4 = pd.read_csv(path4)

path5 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(5)+"/emg_prop_rect_norm.csv"
data5 = pd.read_csv(path5)

path6 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(6)+"/emg_prop_rect_norm.csv"
data6 = pd.read_csv(path6)

path7 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(7)+"/emg_prop_rect_norm.csv"
data7 = pd.read_csv(path7)

path8 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(8)+"/emg_prop_rect_norm.csv"
data8 = pd.read_csv(path8)

In [10]:
emg_combined_1 = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8], axis=0)

In [11]:
emg_combined_1.shape

(5688656, 17)

In [12]:
write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/emg_combined_lili.csv"
emg_combined_1.to_csv(write_path, index = None)

In [13]:
emg_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/emg_combined_lili.csv"
emg_df = pd.read_csv(emg_path)
emg_df.head()

,new_id,id,p_id,e_id,itr_id,itr_type,hand,clt_id,ch_01,ch_02,ch_03,ch_04,ch_05,ch_06,ch_07,ch_08,timestamp
0,59809,144033,1,5,119,3,0,16,0.736196,0.833333,0.592040,0.583732,0.500000,0.444444,0.491597,0.487705,2021-08-09 03:45:00.691
1,59810,144033,1,5,119,3,0,16,0.736196,0.826389,0.587065,0.555024,0.463115,0.555556,0.537815,0.495902,2021-08-09 03:45:00.691
2,59811,144033,1,5,119,3,0,16,0.736196,0.833333,0.592040,0.569378,0.459016,0.489712,0.462185,0.491803,2021-08-09 03:45:00.691
3,59812,144033,1,5,119,3,0,16,0.742331,0.840278,0.587065,0.521531,0.487705,0.497942,0.500000,0.487705,2021-08-09 03:45:00.691
4,59813,144033,1,5,119,3,0,16,0.748466,0.840278,0.601990,0.583732,0.528689,0.543210,0.504202,0.487705,2021-08-09 03:45:00.691