## Processing qua data (Lili's dataset)

In [1]:
from cv2 import mean
import pandas as pd
import quaternion as Q
import numpy as np
import time
from datetime import datetime
from asyncore import write
import math
import pandas as pd
import datetime as dt

In [2]:
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/Participant01/qua.csv"
data = pd.read_csv(path)
data.head()

,id,p_id,e_id,itr_id,itr_type,hand,clt_id,w,x,y,z,timestamp
0,224919,1,5,116,0,1,-1,0.410871,-0.147844,-0.043515,-0.898573,2021-08-09 03:40:47.812
1,224920,1,5,116,0,0,-1,0.085324,0.114055,0.066454,-0.987570,2021-08-09 03:40:47.815
2,224921,1,5,116,0,0,-1,0.085328,0.114053,0.066425,-0.987572,2021-08-09 03:40:47.920
3,224922,1,5,116,0,1,-1,0.410870,-0.147811,-0.043525,-0.898579,2021-08-09 03:40:47.920
4,224923,1,5,116,0,1,-1,0.410867,-0.147825,-0.043542,-0.898577,2021-08-09 03:40:47.943

### Step 1 - Only keep the interactions for the 6 properties

In [3]:
property_ids = [3,4,5,6,7,8]

for participant in range(1,9):
    print("Participant: ", participant)

    path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/qua.csv"
    data = pd.read_csv(path)
    
    properties = data[data['itr_type'].isin(property_ids)]

    write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/quat_prop.csv"
    properties.to_csv(write_path, index = None)

Participant:  1
Participant:  2
Participant:  3
Participant:  4
Participant:  5
Participant:  6
Participant:  7
Participant:  8

In [4]:
#/Users/niharawarawita/Desktop/MSc Project/Data/EMG_data_collection/Participant19
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(6)+"/quat_prop.csv"
data = pd.read_csv(path)
data.head()

,id,p_id,e_id,itr_id,itr_type,hand,clt_id,w,x,y,z,timestamp
0,93836,6,2,48,3,0,7,0.548957,0.422478,0.057288,-0.718942,2021-08-06 16:18:36.491
1,93837,6,2,48,3,1,7,0.617941,-0.194612,-0.673455,-0.355997,2021-08-06 16:18:36.505
2,93838,6,2,48,3,1,7,0.618677,-0.194653,-0.671197,-0.358948,2021-08-06 16:18:36.533
3,93839,6,2,48,3,0,7,0.548123,0.424310,0.057655,-0.718470,2021-08-06 16:18:36.538
4,93840,6,2,48,3,0,7,0.547750,0.424492,0.059040,-0.718533,2021-08-06 16:18:36.556

### Step 2  - This code includes the rating number in the quaternion file

In [5]:

for participant in range(1,9):
    print("Participant: ", participant)

    path1 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/ea_sta.csv"
    path2 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/quat_prop.csv"

    marks = pd.read_csv(path1)
    data = pd.read_csv(path2)

    marks_col = [0]*len(data)
    for index, row in data.iterrows():
        marks_col[index] = marks[marks['itrId'] == row['itr_id']].iloc[0].at['mark']

    data.insert(7,'rating', marks_col)


    write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/quat_prop_rating.csv"
    data.to_csv(write_path, index = None)

Participant:  1
Participant:  2
Participant:  3
Participant:  4
Participant:  5
Participant:  6
Participant:  7
Participant:  8

In [6]:
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(4)+"/quat_prop_rating.csv"
data = pd.read_csv(path)
data.head()

,id,p_id,e_id,itr_id,itr_type,hand,clt_id,rating,w,x,y,z,timestamp
0,96005,4,3,50,3,0,7,2,0.583754,-0.491017,0.392723,0.513714,2021-08-08 22:43:32.708
1,96006,4,3,50,3,1,7,2,0.376691,0.558455,-0.234479,0.700893,2021-08-08 22:43:32.719
2,96007,4,3,50,3,0,7,2,0.581252,-0.486633,0.387859,0.524309,2021-08-08 22:43:32.747
3,96008,4,3,50,3,1,7,2,0.378844,0.555624,-0.233675,0.702251,2021-08-08 22:43:32.749
4,96009,4,3,50,3,0,7,2,0.577827,-0.480035,0.385504,0.535788,2021-08-08 22:43:32.763

### Step 3 - Sort the files in temporal order

In [7]:
for participant in range(1,9):
    print("Participant: ", participant)

    path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/quat_prop_rating.csv"
    data = pd.read_csv(path)

    data['timestamp']=pd.to_datetime(data['timestamp'])

    data.sort_values(by=['timestamp'], inplace=True)

    itr_id = data.itr_id.unique()

    write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/quat_prop_rating_sorted.csv"
    data.to_csv(write_path,index=False)

Participant:  1
Participant:  2
Participant:  3
Participant:  4
Participant:  5
Participant:  6
Participant:  7
Participant:  8

In [8]:
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(7)+"/quat_prop_rating_sorted.csv"
data = pd.read_csv(path)
data.head()

,id,p_id,e_id,itr_id,itr_type,hand,clt_id,rating,w,x,y,z,timestamp
0,194089,7,6,105,3,0,14,3,0.471148,0.452065,0.284830,-0.701804,2021-08-05 13:21:26.587
1,194090,7,6,105,3,1,14,3,0.557057,-0.337603,-0.723106,-0.229849,2021-08-05 13:21:26.589
2,194091,7,6,105,3,1,14,3,0.558059,-0.337680,-0.720700,-0.234809,2021-08-05 13:21:26.616
3,194092,7,6,105,3,1,14,3,0.565582,-0.333851,-0.715069,-0.239451,2021-08-05 13:21:26.639
4,194093,7,6,105,3,0,14,3,0.469346,0.451736,0.288300,-0.701806,2021-08-05 13:21:26.644

### Step 4 - Compute the angular velocity for the x, y and z direction

In [9]:
MSM = '%M:%S.%f'
zero = '00:00.000'
zero = datetime.strptime(zero, MSM)
labels = ['id','p_id','e_id','itr_id','itr_type','clt_id','rating','hand','w','x','y','z','AVx','AVy','AVz','timestamp']

for participant in range(1,9):
    print("Participant: ", participant)

    path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/quat_prop_rating_sorted.csv"

    data = pd.read_csv(path)

    data['timestamp'] = pd.to_datetime(data['timestamp'])

    hand0 = data[data['hand'] == 0]   # Create a dataset with only hand0
    hand1 = data[data['hand'] == 1]   # Create a dataset with only hand1

    time0 = [(hand0.iloc[0].at['timestamp']-zero).total_seconds()]
    time1 = [(hand1.iloc[0].at['timestamp']-zero).total_seconds()]

    quat0 = [np.quaternion(hand0.iloc[0].at['w'],hand0.iloc[0].at['x'],hand0.iloc[0].at['y'],hand0.iloc[0].at['z'])]
    quat1 = [np.quaternion(hand1.iloc[1].at['w'],hand1.iloc[1].at['x'],hand1.iloc[1].at['y'],hand1.iloc[1].at['z'])]

    ang_vel0 = []
    ang_vel1 = []

    for i in range(1,len(hand0)):
        if (hand0.iloc[i].at['itr_id'] != hand0.iloc[i-1].at['itr_id']):

            R = np.stack(quat0)

             #t = (0,(time2-time1).total_seconds()
            t = np.stack(time0)
            vel0 = Q.quaternion_time_series.angular_velocity(R, t)
            vel0=np.stack(vel0)


            #ang_vel.append([0,0,0])
            ang_vel0.append(vel0)
            quat0 = []
            time0 = []

        quat0.append(np.quaternion(hand0.iloc[i].at['w'],hand0.iloc[i].at['x'],hand0.iloc[i].at['y'],hand0.iloc[i].at['z']))
        time0.append((hand0.iloc[i].at['timestamp']-zero).total_seconds())

    R = np.stack(quat0)
    t = np.stack(time0)
    vel0 = Q.quaternion_time_series.angular_velocity(R, t)
    vel0=np.stack(vel0)
    ang_vel0.append(vel0)


    R = []
    t = []
    prev_i = 0
    for i in range(1,len(hand1)):
        if (hand1.iloc[i].at['itr_id'] != hand1.iloc[i-1].at['itr_id']):
            R = np.stack(quat1)
            t = np.stack(time1)
            #print("len: ", (i-1)-prev_i)
            vel1 = Q.quaternion_time_series.angular_velocity(R, t)
            vel1 = np.stack(vel1)
            #ang_vel.append([0,0,0])
            #print(len(vel1))

            ang_vel1.append(vel1)

            quat1 = []
            time1 = []

        quat1.append(np.quaternion(hand1.iloc[i].at['w'],hand1.iloc[i].at['x'],hand1.iloc[i].at['y'],hand1.iloc[i].at['z']))
        time1.append((hand1.iloc[i].at['timestamp']-zero).total_seconds())
    #
    R = np.stack(quat1)
    t = np.stack(time1)
    #print("len: ", (i-1)-prev_i)
    vel1 = Q.quaternion_time_series.angular_velocity(R, t)
    vel1 = np.stack(vel1)
    ang_vel1.append(vel1)
    #print(len(ang_vel0))
    ang_vel0 = np.vstack(ang_vel0)    
    ang_vel1 = np.vstack(ang_vel1)

    #time0 = hand0['timestamp']
    #time1 = hand1['timestamp']
    tot0 = pd.DataFrame(hand0, columns=labels)
    tot1 = pd.DataFrame(hand1, columns=labels)
    tot = pd.concat([tot0, tot1])


    ang_vel = np.concatenate((ang_vel0,ang_vel1), axis=0)

    tot['AVx'] = ang_vel[:,0]
    tot['AVy'] = ang_vel[:,1]
    tot['AVz'] = ang_vel[:,2]

    write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/ang_vel_quat.csv"
    tot.to_csv(write_path, index = None)

Participant:  1
Participant:  2
Participant:  3
Participant:  4
Participant:  5
Participant:  6
Participant:  7
Participant:  8

In [10]:
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(8)+"/ang_vel_quat.csv"
data = pd.read_csv(path)
data.head()

,id,p_id,e_id,itr_id,itr_type,clt_id,rating,hand,w,x,y,z,AVx,AVy,AVz,timestamp
0,107509,8,4,55,3,8,7,0,0.483388,-0.200955,0.303938,0.795974,0.031460,-0.359360,0.704151,2021-08-10 03:11:23.366
1,107511,8,4,55,3,8,7,0,0.470845,-0.215512,0.300736,0.800885,-0.288243,-0.203737,0.259381,2021-08-10 03:11:23.443
2,107514,8,4,55,3,8,7,0,0.468082,-0.223310,0.302296,0.799781,-0.373426,-0.384570,0.176647,2021-08-10 03:11:23.478
3,107516,8,4,55,3,8,7,0,0.467351,-0.228838,0.303195,0.798304,-0.300155,-0.270544,0.032248,2021-08-10 03:11:23.500
4,107518,8,4,55,3,8,7,0,0.466308,-0.230990,0.304912,0.797640,-0.141254,0.135212,0.269260,2021-08-10 03:11:23.527

### Step 5 - Compute angular acceleration and stats

In [11]:
labels = ['id','p_id','e_id','itr_id','itr_type','clt_id','rating','hand','w','x','y','z','AVx','AVy','AVz','AAx','AAy','AAz','AJx','AJy','AJz','timestamp']

for participant in range(1,9):
    print("Participant: ", participant)

    path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/ang_vel_quat.csv"

    data = pd.read_csv(path)

    print(type(data['timestamp'][0]))
    data['timestamp'] = pd.to_datetime(data['timestamp'])

    hand0 = data[data['hand'] == 0]
    hand1 = data[data['hand'] == 1]


    acc0x = [0]*len(hand0)
    acc1x = [0]*len(hand1)

    acc0y = [0]*len(hand0)
    acc1y = [0]*len(hand1)

    acc0z = [0]*len(hand0)
    acc1z = [0]*len(hand1)

    jerk0x = [0]*len(hand0)
    jerk1x = [0]*len(hand1)

    jerk0y = [0]*len(hand0)
    jerk1y = [0]*len(hand1)

    jerk0z = [0]*len(hand0)
    jerk1z = [0]*len(hand1)

    for i in range(1,len(hand0)):
        if hand0.iloc[i].at['itr_id'] != hand0.iloc[i-1].at['itr_id']:
            acc0x[i] = 0
            acc0y[i] = 0
            acc0z[i] = 0
            jerk0x[i] = 0
            jerk0y[i] = 0
            jerk0z[i] = 0
        else:    
            time1 = hand0.iloc[i-1]['timestamp']
            time2 = hand0.iloc[i]['timestamp']
            seconds = (time2-time1).total_seconds()
            acc_x = (hand0['AVx'].iloc[i] - hand0['AVx'].iloc[i-1])/seconds
            acc_y = (hand0['AVy'].iloc[i] - hand0['AVy'].iloc[i-1])/seconds
            acc_z = (hand0['AVz'].iloc[i] - hand0['AVz'].iloc[i-1])/seconds
            acc0x[i]=acc_x
            acc0y[i]=acc_y
            acc0z[i]=acc_z
            jerk_x = (acc0x[i] - acc0x[i-1])/seconds
            jerk_y = (acc0y[i] - acc0y[i-1])/seconds
            jerk_z = (acc0z[i] - acc0z[i-1])/seconds
            jerk0x[i]=jerk_x
            jerk0y[i]=jerk_y
            jerk0z[i]=jerk_z



    for i in range(1,len(hand1)):
        if hand1.iloc[i].at['itr_id'] != hand1.iloc[i-1].at['itr_id']:
            acc1x[i] = 0
            acc1y[i] = 0
            acc1z[i] = 0
            jerk1x[i] = 0
            jerk1y[i] = 0
            jerk1z[i] = 0
        else:
            time1 = hand1.iloc[i-1]['timestamp']
            time2 = hand1.iloc[i]['timestamp']
            seconds = (time2-time1).total_seconds()
            acc_x = (hand1['AVx'].iloc[i] - hand1['AVx'].iloc[i-1])/seconds
            acc_y = (hand1['AVy'].iloc[i] - hand1['AVy'].iloc[i-1])/seconds
            acc_z = (hand1['AVz'].iloc[i] - hand1['AVz'].iloc[i-1])/seconds
            acc1x[i]=acc_x
            acc1y[i]=acc_y
            acc1z[i]=acc_z
            jerk_x = (acc1x[i] - acc1x[i-1])/seconds
            jerk_y = (acc1y[i] - acc1y[i-1])/seconds
            jerk_z = (acc1z[i] - acc1z[i-1])/seconds
            jerk1x[i]=jerk_x
            jerk1y[i]=jerk_y
            jerk1z[i]=jerk_z

    tot0 = pd.DataFrame(hand0, columns=labels)
    tot0['AAx'] = acc0x
    tot0['AAy'] = acc0y
    tot0['AAz'] = acc0z
    tot0['AJx'] = jerk0x
    tot0['AJy'] = jerk0y
    tot0['AJz'] = jerk0z

    tot1 = pd.DataFrame(hand1, columns=labels)
    tot1['AAx'] = acc1x
    tot1['AAy'] = acc1y
    tot1['AAz'] = acc1z
    tot1['AJx'] = jerk1x
    tot1['AJy'] = jerk1y
    tot1['AJz'] = jerk1z
    #tot = pd.DataFrame([hand0['id'],hand0['p_id'],hand0['e_id'],hand0['itr_id'],hand0['itr_type'],hand0['clt_id'],hand0['hand'],
    #    hand0['x'],hand0['y'],hand0['z'],acc0x,acc0y,acc0z,hand0['timestamp']],columns=labels)

    tot3 = pd.concat([tot0,tot1])
    tot3.sort_values(by=['timestamp'],inplace=True)
    write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(participant)+"/angularStats.csv"
    tot3.to_csv(write_path, index = None)

Participant:  1
<class 'str'>
Participant:  2
<class 'str'>
Participant:  3
<class 'str'>
Participant:  4
<class 'str'>
Participant:  5
<class 'str'>
Participant:  6
<class 'str'>
Participant:  7
<class 'str'>
Participant:  8
<class 'str'>

In [12]:
path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(8)+"/angularStats.csv"
data = pd.read_csv(path)
data.head()

,id,p_id,e_id,itr_id,itr_type,clt_id,rating,hand,w,x,...,AVx,AVy,AVz,AAx,AAy,AAz,AJx,AJy,AJz,timestamp
0,107509,8,4,55,3,8,7,0,0.483388,-0.200955,...,0.031460,-0.359360,0.704151,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-10 03:11:23.366
1,107510,8,4,55,3,8,7,1,-0.456537,-0.585085,...,0.252838,0.222513,0.486942,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-10 03:11:23.432
2,107511,8,4,55,3,8,7,0,0.470845,-0.215512,...,-0.288243,-0.203737,0.259381,-4.151990,2.021084,-5.776234,-53.921947,26.247850,-75.016030,2021-08-10 03:11:23.443
3,107512,8,4,55,3,8,7,1,-0.462649,-0.579617,...,-0.220708,-0.191840,-0.414298,-22.549813,-19.731109,-42.916178,-1073.800600,-939.576602,-2043.627517,2021-08-10 03:11:23.453
4,107513,8,4,55,3,8,7,1,-0.469440,-0.573279,...,-0.518256,-0.434361,-0.901342,-12.936856,-10.544377,-21.175855,417.954648,399.423133,945.231425,2021-08-10 03:11:23.476

### Step 6 - Combine the datasets

In [13]:
path1 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(1)+"/angularStats.csv"
data1 = pd.read_csv(path1)

path2 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(2)+"/angularStats.csv"
data2 = pd.read_csv(path2)

path3 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(3)+"/angularStats.csv"
data3 = pd.read_csv(path3)

path4 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(4)+"/angularStats.csv"
data4 = pd.read_csv(path4)

path5 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(5)+"/angularStats.csv"
data5 = pd.read_csv(path5)

path6 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(6)+"/angularStats.csv"
data6 = pd.read_csv(path6)

path7 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(7)+"/angularStats.csv"
data7 = pd.read_csv(path7)

path8 = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/"+"Participant0"+str(8)+"/angularStats.csv"
data8 = pd.read_csv(path8)

In [14]:
qua_combined_1 = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8], axis=0)

In [15]:
qua_combined_1.shape

(569838, 22)

In [16]:
write_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/qua_combined_lili.csv"
qua_combined_1.to_csv(write_path, index = None)

In [17]:
qua_path = "/Users/niharawarawita/Desktop/MSc Project/Data and code/Lili_Experiment/qua_combined_lili.csv"
qua_df = pd.read_csv(qua_path)
qua_df.head()

,id,p_id,e_id,itr_id,itr_type,clt_id,rating,hand,w,x,...,AVx,AVy,AVz,AAx,AAy,AAz,AJx,AJy,AJz,timestamp
0,230904,1,5,119,3,16,4,0,0.086600,0.777745,...,-0.151659,0.137463,-0.134024,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.612
1,230905,1,5,119,3,16,4,1,0.303156,-0.720805,...,-0.146032,0.376636,0.329687,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2021-08-09 03:45:00.635
2,230906,1,5,119,3,16,4,0,0.084969,0.778265,...,0.133663,-0.087377,0.044941,3.242306,-2.554990,2.033689,36.844384,-29.033977,23.110105,2021-08-09 03:45:00.700
3,230907,1,5,119,3,16,4,1,0.302632,-0.719450,...,0.087317,-0.207186,-0.146515,3.381875,-8.461190,-6.901472,49.012688,-122.625945,-100.021327,2021-08-09 03:45:00.704
4,230908,1,5,119,3,16,4,1,0.302121,-0.718047,...,0.086724,-0.175910,-0.060999,-0.025794,1.359835,3.718058,-148.159536,427.001088,461.718694,2021-08-09 03:45:00.727